%section.navigation
  .nav-container
    .brand
      %a{:href => "#!"} Logo
    %nav
      .nav-mobile
        = link_to 'Home', root_path, class: 'nav-link'
        %span
      %ul.nav-list
        %li
          = link_to 'Home', root_path
        %li
          %a{:href => "#!"} About
        %li
          = link_to 'Create New Word', new_word_path
        %li
          -if current_user
            %a{:href => "#!"}  Profile
            %ul.nav-dropdown
              %li
                = link_to 'Edit Profile', edit_user_registration_path 
              %li
                = link_to 'Sign Out', destroy_user_session_path, class: 'exit-session', method: :delete 
          -else
            %a{:href => "#!"} User Login
            %ul.nav-dropdown
              %li
                = link_to 'Log In', new_user_session_path
              %li
                = link_to 'Sign Up', new_user_registration_path 
        %li
          %a{:href => "#!"} Contact
