= simple_nested_form_for @word do |f|
  .field-set
    .form-group
      = f.input :content, label: 'Word Name', class: 'form-control'
      = f.association :language, class: 'form-control'
      %h3 Translations
      = f.fields_for :translations do |tr|
        .form-group 
          = tr.input :content
          = tr.association :language
        =tr.link_to_remove('Remove this translation', class: 'btn btn-danger mb-2')
      %p= f.link_to_add('Add a new translation', :translations, class: 'btn btn-success')   
    .form-group
      = f.submit 'Submit', class: 'btn btn-primary btn-block'