.container-fluid
  %h2="Index View"
  %p
    ="We have this many word in the database"
    =@words.count
  .row
    .col-md-12
      %table.table
        %thead
          %tr
            %th
              \#
            %th
              Word Name
            %th
              Language
            %th
              User 
            %th
              = '# Translation'
            %th
              Actions  
        %tbody
          -@words.each do |word|
            %tr
              %td= word.id 
              %td= word.content
              %td= word.language.name
              %td= word.usermail
              %td= word.translations.size
              %td
                = link_to('Show Word', word_path(word), class: 'btn btn-primary')
                - if policy(word).edit?
                  = link_to('Edit Word', edit_word_path(word), class: 'btn btn-success')
                - if policy(word).destroy?
                  = link_to('Delete Word', word_path(word),class: 'btn btn-danger', method: :delete, data:{ confirm: 'Are You Sure?' }  )
      = pagy_bootstrap_nav(@pagy).html_safe
